.st-emotion-cache-10trblm.e1nzilvr1{
    text-decoration-color: blue;
    color:black;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.main.st-emotion-cache-uf99v8.ea3mdgi8{
    background-color:rgba(255, 255, 255, 0.5);
    
    
}


